<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I learned how to cross stitch, sew, crochet, knit, and other crafts as a child. My mother and grandmother enjoyed participating in these activities
           and taught them to myself and my sisters. Crafting is a way to express myself creatively and relax while working towards a final goal. </p>
      </div>
      <div class="col-lg-4">
        <p>I have many projects that I have completed, but I don't display them at home. They are all just sitting in a box. I have meant to frame them,
           but it can be expensive and I don't know where I would display them. This website allows me to show off the many hours of work I have spent. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.etsy.com/shop/SatsumaStreet">SatsumaStreet</a>
      </div>
    </div>
  </div>
</section>
