<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I learned how to cross stitch, sew, crochet, knit, and other crafts as a child. My mother and grandmother enjoyed participating in these activities
           and taught them to myself and my sisters. Crafting is a way to express myself creatively and relax while working towards a final goal. </p>
      </div>
      <div class="col-lg-4">
        <p> <table> 
          <tr> 
              <th>Upcoming Project</th>
              <th>Pattern Credit</th>
              <th>Size</th>
          </tr>
          <tr>
              <td>Awesome Myth Narwhal</td>
              <td>Stitchrovia on Etsy</td>
              <td>101 x 140 stitches</td>
          </tr>
          <tr>
              <td>Tiny Claude Monet Bundle</td>
              <td>CrossStitchObsession on Etsy</td>
              <td>31 x 38 stitch, 42 x 42 stitches, 28 x 42 stitches</td>
          </tr>
          <tr>
              <td>Marvel Superhero Characters</td>
              <td>KnotalotUK on Etsy</td>
              <td>160 x 180 stitches</td>
          </tr>
      </table> </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
